:root {
  --card-text-color: #000;
  --card-background-color: #fff;
}

.card {
  color: var(--card-text-color);
  background-color: var(--card-background-color);
  border-radius: 15px;
  padding: 40px 50px;
  font-size: 20px;
  width: 100%;
}
