:root {
  --feedback-item-rating-background-color: #ff6a95;
  --feedback-item-rating-border-color: #fff;
}

.feedback-item {
  position: relative;
}

.feedback-item__rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: var(--feedback-item-rating-background-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--feedback-item-rating-border-color);
}

.feedback-item__btn-delete {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

/* 
.feedback-item__text {
} */
